@import url("/cdn_modules/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("/cdn_modules/daisyui@4.12.23/full.css");
@import url("/assets/style/app.css");
* {
  font-family: sans-serif !important;
  background-repeat: no-repeat;
  background-position: top;
}

img {
  max-width: 100%;
  object-fit: cover;
}
